.home-intro {
    padding-top: 10px;
    background-image: radial-gradient(closest-side, #5e36ba, #190d35);
    color: #e27e94;
    height: 100%;

}
.home-intro h1 {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.home-intro h2 {
    margin-bottom: 0px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.home-intro h4 {
    margin-top: 0px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
}
.home-intro h3 {
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
}