.carousel-slide{
    padding-top: 30px;
    padding-bottom: 30px;
}

.carousel-slide .carousel .slider-wrapper{
    width: 100%;
    height: auto;
}

.carousel-slide .carousel{
   text-align: center;
}

@media only screen and (min-width: 600px) {
    .carousel-slide .carousel .slider-wrapper{
        width: 80%;
        height: auto;
    }
}

@media only screen and (min-width: 992px) {
    .carousel-slide .carousel .slider-wrapper{
        width: 50%;
        height: auto;
    }
}