.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #19224f;
    position: sticky;
    top: 0;
    height: max-content;
    padding-bottom: 8px;
    padding-top: 8px;
    box-shadow: 0 1px 5px black;
    
}

.column {
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pokeball {
    height: 75px;
    width: 75px;
    animation: rotateAnimation 2s linear infinite;
}

.logoImage {
    height: auto;
    max-width: 100%;
}
.navigation {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4rem;
}

.mobile-menu{
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.2); 
}
.mobile-menu li{
    width: 100%;
    display: flex;
    margin: 0px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 2rem;
  }
  
  .burger-line {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  

  .desktop-menu {
    display: none;
  }

.navigation-item{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 100%;
}

.navigation-item:hover{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #e27e94;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.navigation-item-active{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #e27e94;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-radius: 20px;
}

.footer {
    background-color: #19224f;
    height: 100px;
    box-shadow: 0 1px 10px black;
    display: flex;
    align-items: center;
}

.footer-author, .footer-connect, .footer-accounts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.footer-author {
    font-size: 14px;
}

.footer-connect {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.connect {
    font-size: 20px;
    text-decoration: none;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.here {
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: lighter;
    text-decoration: underline;
    color: lightblue;
}

.footer-accounts a {
    height: max-content;
    margin-left: 5px;
    margin-right: 5px;
}
.icons {
    height: 25px;
    width: 25px;
}
@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
@media only screen and (min-width: 768px){
    .navbar {
        flex-direction: row;
    }

    .logo {
        padding-left: 2rem;
        justify-content: flex-start;
    }
    .burger-menu {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
    }

    .navigation {
        list-style: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.01rem;
    }
    
    .navigation li {
        display: flex;
        justify-content: center;
        margin-right: 3rem;
    }
    
    .navigation-item{
        text-decoration: none;
        color: white;
    }
    
    .navigation-item:hover{
        text-decoration: none;
        color: #e27e94;
        background-color: transparent;
    }
    
    .navigation-item-active{
        text-decoration: none;
        color: #e27e94;
        background-color: transparent;
    }
}

@media only screen and (min-width: 992px){
    .navigation {
        font-size: 1.4rem;
    }
}