.btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}
.btn-container button {
    height: 3rem;
    width: 10rem;
    background-color: #19224f;
    color: white;
    font-size: 24px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 0px;
    border-radius: 5px;
}